{% extends "tutorial/layout.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<style>

  #custom-btn {
  border-radius: 4px;
  background-color: #F2BE66;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  padding: 15px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
   #custom-btn span{
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;

}
#custom-btn span:after{
  content: '\274F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#custom-btn:hover {
  background-color: #A67624;
}

#custom-btn:hover span{
   padding-right: 25px;
}
#custom-btn:hover span:after{
    opacity: 1;
    right: 0;
}

#custom-txt {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}




.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


</style>
 {% for message in messages %}

						 <div class="alert alert-{{ message.tags }} alert-dismissible mt-3" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>

						{{ message }}
                        {{ form.errors }}

							 {% if form.errors %}
								  {% for field in form %}

									   {% for error in field.errors %}

											 {{ error|escape }}
									   {% endfor %}

								  {% endfor %}
							{% endif %}
					  </div>

						{% endfor %}
<div class="jumbotron">
    <h2 id="header-doc">Seleccionar tribunal a ...</h2>



<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}


        <!--<div class="form-group">
        <label class="control-label">{{ form.title.file_field }}</label>

        <div class="form-group">
        <input type="file" name="file_field" multiple="" required="" id="id_file_field" hidden="hidden" />
            <button type="button " id="custom-btn"><span>Seleccionar archivo</span></button>
        <span id="custom-txt">Ningún archivo seleccionado.</span>
        </div>

    </div>-->


 <div class="form-group">
        <a id="return-files" href="{% url 'files' %}" style="padding: 15px; margin-right:10px;" class="btn btn-secondary mt-5">Atrás</a>
        <button type="button" class="btn btn-primary mt-5" style="padding: 15px" data-toggle="modal" data-target="#exampleModal" >Enviar</button>
    </div>


    {% block javascript %}

    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escoger tribunal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro/a del tribunal que ha escogido para este alumno?
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger mt-5" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary mt-5" >Cambiar</button>
      </div>
    </div>
    </div>
    </div>


    {% endblock %}


        </form>



</div>
<script>
    var url = window.location.href;
console.log(url);

var lastNine = url.substr(url.length - 9);


if ( url.includes("Curso")) {
    var aparentedni = url.split('-')[1].split('/')[0];
    var enlace = url.split('files/')[0];
    var enlace2 = url.split('Curso')[1];

    console.log(enlace)
    console.log(enlace2)
    enlaceFinal = enlace +"files/" + "Curso"+ enlace2;
    console.log(enlaceFinal)
    $("#return-files").attr("href", enlaceFinal);

    var url2 = url.split('/Curso')[0];
    console.log("La url2 es : ", url2)
    dni = url2.substr(url2.length - 9);
    console.log("La dni es : ", dni)
    console.log(url2)
    console.log(url2.length)
    name = url2.split('-')[0];
    console.log(name)
    names = name.sub('%','')
    console.log(names)

    newStr = name.replace(/[0-9%]+/g, ' ');
    console.log(newStr);

    var lastWord = newStr.split(' ').pop()
    console.log(lastWord);



}else{
    var aparentedni = url.split('-')[1].split('/')[0]
    console.log("No contiene la palabra curso");
    dni = url.substr(url.length - 9);
}






console.log(dni)
document.getElementById("header-doc").innerHTML = "Seleccionar tribunal para " + aparentedni ;
document.getElementById("exampleModalLabel").innerHTML = "Confirmación tribunal de " + aparentedni ;





    </script>


{% endblock %}