{% extends "tutorial/layout.html" %}
{% block content %}



<style>

  #custom-btn {
  border-radius: 4px;
  background-color: #F2BE66;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  padding: 15px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
   #custom-btn span{
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;

}
#custom-btn span:after{
  content: '\274F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#custom-btn:hover {
  background-color: #A67624;
}

#custom-btn:hover span{
   padding-right: 25px;
}
#custom-btn:hover span:after{
    opacity: 1;
    right: 0;
}

#custom-txt {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}




.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


</style>
<div class="jumbotron">
    <h2>Añadir documentación a Alumno</h2>



<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file_field.label_tag }}
        {{ form.file_field }}

        <!--<div class="form-group">
        <label class="control-label">{{ form.title.file_field }}</label>

        <div class="form-group">
        <input type="file" name="file_field" multiple="" required="" id="id_file_field" hidden="hidden" />
            <button type="button " id="custom-btn"><span>Seleccionar archivo</span></button>
        <span id="custom-txt">Ningún archivo seleccionado.</span>
        </div>

    </div>-->
 <script>

        const realFileButtom = document.getElementById("id_file_field");
        const customButtom = document.getElementById("custom-btn");
        const customText = document.getElementById("custom-txt");

customButtom.addEventListener("click", function() {
  realFileButtom.click();
});

realFileButtom.addEventListener("change", function() {

});


    </script>


 <div class="form-group">
        <a href="{% url 'files' %}" style="padding: 15px; margin-right:10px;" class="btn btn-secondary mt-5">Atrás</a>
        <button type="button" class="btn btn-primary mt-5" style="padding: 15px" data-toggle="modal" data-target="#exampleModal" >Guardar y enviar</button>
    </div>


    {% block javascript %}

    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir documentación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro/a de añadir la documentación adjunta a este alumno?
        A partir de este punto no podrá modificar ningún documento.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger mt-5" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary mt-5" >Añadir</button>
      </div>
    </div>
    </div>
    </div>


    {% endblock %}


        </form>



</div>

{% endblock %}