{% extends "tutorial/layout.html" %}
{% block content %}

<style>

  #custom-button {
  border-radius: 4px;
  background-color: #F2BE66;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  padding: 15px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
   #custom-button span{
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;

}
#custom-button span:after{
  content: '\274F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#custom-button:hover {
  background-color: #A67624;
}

#custom-button:hover span{
   padding-right: 25px;
}
#custom-button:hover span:after{
    opacity: 1;
    right: 0;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}


#custom-button2 {
  border-radius: 4px;
  background-color: #F2BE66;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  padding: 15px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
   #custom-button2 span{
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;

}
#custom-button2 span:after{
  content: '\274F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#custom-button2:hover {
  background-color: #A67624;
}

#custom-button2:hover span{
   padding-right: 25px;
}
#custom-button2:hover span:after{
    opacity: 1;
    right: 0;
}

#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}


#custom-button3 {
  border-radius: 4px;
  background-color: #F2BE66;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 11px;
  padding: 15px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#custom-button3 span{
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;

}
#custom-button3 span:after{
  content: '\274F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#custom-button3:hover {
 background-color: #A67624;
}

#custom-button3:hover span{
   padding-right: 25px;
}
#custom-button3:hover span:after{
    opacity: 1;
    right: 0;
}

#custom-text3 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}



</style>
<div class="jumbotron">
    <h2>Enviar Trabajo</h2>
<form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="form-group mt-5">
        <label class="control-label">{{ form.title.label_tag }}</label><span style="margin-left: 10px; color: #aaa;" id="size_title"><span id="title_amount"></span></span>
       <input type="text" class="form-control" name="title" maxlength="50" required="" id="id_title" placeholder="Escriba el título...">
    </div>

    <div class="form-group">
        <label class="control-label">{{ form.keyword.label_tag }}</label><span style="margin-left: 10px; color: #aaa;" id="size_keyword"><span id="keyword_amount"></span></span>
        <input type="text" class="form-control" name="keyword" maxlength="50" required="" id="id_keyword" placeholder="Escriba las palabras clave...">
    </div>

    <div class="form-group">

        <label class="control-label">{{ form.description.label_tag }}</label><span style="margin-left: 10px; color: #aaa;" id="size_description"><span id="description_amount"></span></span>
        <textarea style="resize: none;" class="form-control" name="description" cols="20" rows="5" required="" id="id_description" placeholder="Escriba el resumen..." ></textarea>

    </div>

    <div class="form-group">
        <label class="control-label">{{ form.sourcecode.label_tag }}</label>

        <div class="form-group">
        <input type="file" name="sourcecode" required="" id="id_sourcecode" hidden="hidden" />
            <button type="button " id="custom-button"><span>Seleccionar archivo</span></button>
        <span id="custom-text">Ningún archivo seleccionado. (.zip, .rar, .7z)</span>
        </div>


    </div>

    <div class="form-group">
        <label class="control-label">{{ form.documentation.label_tag }}</label>

        <div class="form-group">
        <input type="file" name="documentation" required="" id="id_documentation" hidden="hidden" />
            <button type="button " id="custom-button2"><span>Seleccionar archivo</span></button>
        <span id="custom-text2">Ningún archivo seleccionado. (.pdf)</span>
        </div>

    </div>

     <div class="form-group" style="margin-bottom: 3em">
        <label class="control-label">{{ form.memoir.label_tag }}</label>

         <div class="form-group">
        <input type="file" name="memoir" required="" id="id_memoir" hidden="hidden" />
            <button type="button " id="custom-button3"><span>Seleccionar archivo</span></button>
        <span id="custom-text3">Ningún archivo seleccionado. (.pdf)</span>

        </div>

    </div>
     <div class="form-group" >

        <div class="row">
            <div class="col-md-1">{{ form.authorization }}</div>
            <div class="col-md-11" style="margin-left:-4em;">{{ form.authorization.help_text }}</div>
        </div>

        <!--<label class="control-label">{{ form.memoir.label_tag }}</label>-->

         <!--<div class="form-group">
        <input type="file" name="memoir" required="" id="id_memoir" hidden="hidden" />
            <button type="button " id="custom-button3"><span>Seleccionar archivo</span></button>
        <span id="custom-text3">Ningún archivo seleccionado. (.pdf)</span>

        </div>-->

    </div>

    {% for message in messages %}

						 <div class="alert alert-{{ message.tags }} alert-dismissible mt-3" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>

						{{ message }}
                        {{ form.errors }}

							 {% if form.errors %}
								  {% for field in form %}

									   {% for error in field.errors %}

											 {{ error|escape }}
									   {% endfor %}

								  {% endfor %}
							{% endif %}
					  </div>

						{% endfor %}


    <div class="form-group">
        <button type="button" class="btn btn-primary mt-5" style="padding: 15px" data-toggle="modal" data-target="#exampleModal" >Guardar y enviar</button>
    </div>


    {% block javascript %}

    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ventana de confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro/a de enviar su trabajo?
        A partir de este punto no podrá modificar ningún documento.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary mt-5" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary mt-5" >Guardar y enviar</button>
      </div>
    </div>
    </div>
    </div>

    {% endblock %}



</form>


    <script>



        const realFileBtn = document.getElementById("id_sourcecode");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");

customBtn.addEventListener("click", function() {
  realFileBtn.click();
});

realFileBtn.addEventListener("change", function() {
  if (realFileBtn.value) {
    customTxt.innerHTML = realFileBtn.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } else {
    customTxt.innerHTML = "Ningún archivo seleccionado.";
  }
});

        const realFileBtn2 = document.getElementById("id_documentation");
        const customBtn2 = document.getElementById("custom-button2");
        const customTxt2 = document.getElementById("custom-text2");

customBtn2.addEventListener("click", function() {
  realFileBtn2.click();
});

realFileBtn2.addEventListener("change", function() {
  if (realFileBtn2.value) {
    customTxt2.innerHTML = realFileBtn2.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } else {
    customTxt2.innerHTML = "Ningún archivo seleccionado.";
  }
});

        const realFileBtn3 = document.getElementById("id_memoir");
        const customBtn3 = document.getElementById("custom-button3");
        const customTxt3 = document.getElementById("custom-text3");

customBtn3.addEventListener("click", function() {
  realFileBtn3.click();
});

realFileBtn3.addEventListener("change", function() {
  if (realFileBtn3.value) {
    customTxt3.innerHTML = realFileBtn3.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } else {
    customTxt3.innerHTML = "Ningún archivo seleccionado.";
  }
});

var maximo_description = 200;
var limite_description = 20;

var maximo_title = 50;
var limite_title = 10;

var maximo_keyword = 50;
var limite_keyword = 10;


document.getElementById("description_amount").innerHTML = "(Máx. 200 caracteres)";
document.getElementById("title_amount").innerHTML = "(Máx. 50 caracteres)";
document.getElementById("keyword_amount").innerHTML = "(Máx. 50 caracteres)";

cuadro1 = document.getElementById("id_description");
cuadro1.addEventListener("keyup", function(){

    if(cuadro1.value.length == 0){
        document.getElementById("description_amount").innerHTML = "(Máx. 200 caracteres)";
        document.getElementById("description_amount").style.color = "#aaa"

    }else{
    var cantidad_description = cuadro1.value.length;
    restantes_description = maximo_description-cantidad_description;
    document.getElementById("description_amount").innerHTML = restantes_description + " caracteres";
    cuadro1.maxLength = maximo_description;
    (restantes_description<=limite_description) ? document.getElementById("description_amount").style.color = "#FF3C3C" :document.getElementById("description_amount").style.color = "#aaa"
    }

    })

cuadro2 = document.getElementById("id_title");
cuadro2.addEventListener("keyup", function(){
    if(cuadro2.value.length == 0){
        document.getElementById("title_amount").innerHTML = "(Máx. 50 caracteres)";
        document.getElementById("title_amount").style.color = "#aaa"

    }else{
    var cantidad_title = cuadro2.value.length;
    restantes_title = maximo_title-cantidad_title;
    document.getElementById("title_amount").innerHTML = restantes_title + " caracteres";
    cuadro2.maxLength = maximo_title;
    (restantes_title<=limite_title) ? document.getElementById("title_amount").style.color = "#FF3C3C" :document.getElementById("title_amount").style.color = "#aaa"
    }
    })


cuadro3 = document.getElementById("id_keyword");
cuadro3.addEventListener("keyup", function(){

     if(cuadro3.value.length == 0){
        document.getElementById("keyword_amount").innerHTML = "(Máx. 50 caracteres)";
        document.getElementById("keyword_amount").style.color = "#aaa"

    }else{
    var cantidad_keyword = cuadro3.value.length;
    restantes_keyword = maximo_keyword-cantidad_keyword;
    document.getElementById("keyword_amount").innerHTML = restantes_keyword + " caracteres";
    cuadro3.maxLength = maximo_keyword;
    (restantes_keyword<=limite_keyword) ? document.getElementById("keyword_amount").style.color = "#FF3C3C" :document.getElementById("keyword_amount").style.color = "#aaa"
    }



})

/*
 var titleInput = document.getElementById("id_title");
            if (titleInput && titleInput.value) {
                console.log("El input del titulo tiene valor y es ", titleInput);
            }else{
            console.log("El input del codigo fuente no valor y es ", titleInput);
            }*/

    </script>
</div>
{% endblock %}